h1 {
    margin: 0;
}

.main-dash-container {
    display: flex;
    height: calc(100vh - 46px)  ;
    width: 100vw;
    background: lightblue
}



.right-display-area {
    background: salmon;
    width: 80%;
    height: 100vh;
}