.main-userdisplay-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: burlywood;
    width: 80vw;
    height: 100vh;
    font-family: 'Roboto';
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}

.move-down {
    position: relative;
    bottom: 125px;
    width: 100vw;
}

.profile-img {
    position: relative;
    bottom: 100px;
    border-radius: 250px;
}

.change-image-container {
    width:80vw;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 75px;
}
.change-image-button{
    background: #00a887;
    color: white;
    text-align: center;
    line-height: 45px;
    height:45px;
    max-width: 150px;
    padding: 0 10px 0 10px;
    font-family: 'roboto';
}
.change-image-button:hover {
    cursor: pointer;
}

.profile-img {
    height: 200px;
    width: 200px;
}