#pencil-icon {
    margin-right: 18px;
    position: relative;
    left: 5px;   
}

#np-icon {
    margin-right: 13px;
    position: relative;
    left: 3px;
}

#gear-icon {
    margin-right: 20px;
    position: relative;
    left: 3px;
}

#chev-down {
    position: relative;
    left: 125px;
}

.left-nav-container {
    width: 20%;
    height: 100vh;
    background: #312f31;
    color: white;
    font-family: 'Roboto';
}
  
.one {
    height: 50px;
    width: 100%;
    margin-bottom: 2px;
    color: white;
    padding-left: 10px;
    line-height: 50px;
}

.one:hover{
    cursor: pointer;
    background: #444345;
}
 
.two {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    height: 50px;
    width: 100%;
    padding-left: 55px;
}

.two:hover {
    background:#444345;
}

.sub-chev {
    margin-right: 10px;
}