.left-nav-container {
    width: 20%;
    height: 100%;
}

.left-nav {
    width: 100%;
    height: 100%;
    background: #312F31;
    font-family: 'Roboto';
}

.nav-item {
    color: white;
    width: 100%;
    height: 55px;
    line-height: 55px;
}

.nav-item:hover {
    background: #504F50;
    cursor: pointer;
}

.sub-item {
    height: 50px;
    background: red;
    width: 100%;
    float: left;
}

i {
    padding: 0 40px 0 15px;
}

.chevron-icon {
    position: relative;
    left: 35%;
}

ul {
    height: 150px;
    background: red;
    display: block;
}