.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('https://res.cloudinary.com/ddbeeuyr4/image/upload/v1506743726/green-hexagons-background_lr7rmm.png');
    background-size: 100% 100%;
  }
  
  .form-container {
    width: 450px;
    height: 250px;
    background: white;
  }
  