.new-content-info-container {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-content: center;
}

.icon-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    height: 20vh;
    flex-wrap: wrap;
    position: relative;
    bottom: 30px;    
}

.title-row {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-area{
    height: 80px;
    width: 80px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.descriptor-container {
    display: flex;
    justify-content: space-around;
    height: 35vh;
    width: 60vw;
    background: white;
    position: relative;
    bottom: 30px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 60vw;
    position: relative;
    bottom: 30px;
}

.descriptor {
    height: 100%;
    width: 32%;
    padding: 0 0 10px 10px;
    font-family: 'Roboto';
}

.leading-word-big {
    font-size: 2em;
}