.upload-image-modal {
    width: 60vw;
    height: 70vh;
    background: cornsilk;
    position: absolute;
    top:0; bottom:0; right:0; left:0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    height: 10px;
    width: 10px;
    color: #00a887;
    position: absolute;
    top: 2px; right:15px;
    font-size: 25px;
}

.close-button:hover {
    cursor: pointer;
}